html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
}

.title {
    color: white;
    font-family: 'Lucida Console';
}

#image {
    background: blue;
    grid-area: 1/1/1/4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    margin: auto;
}

.eye-container {
    grid-area: 1/2/1/3;
    display: flex;
}

.eye {
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    margin-bottom: 25px;
    background-color: red;
}

#left-eye {
    margin-right: 45px;
}

#right-eye {
    margin-left: 45px;;
}